server {
        listen 80 default_server;
        listen [::]:80 default_server;
        root /var/www/;
        index index.html;
 location /RPC2 {
 include scgi_params;
 scgi_pass 127.0.0.1:5000;
 }

 location /rutorrent {
 auth_basic "Restricted";
 auth_basic_user_file /etc/nginx/htpasswd;
 }

  #pass the PHP scripts to FastCGI server listening on 127.0.0.1:9000
 location ~ .php$ {
 fastcgi_split_path_info ^(.+\.php)(/.+)$;
 fastcgi_pass unix:/var/run/php5-fpm.sock;
 fastcgi_index index.php;
 include fastcgi.conf;
 }
}
